.chapter(data-title='Configuring the application')
  include chapter1
.chapter(data-title='The web application')
  include chapter2
//- .chapter(data-title='Resources and controllers')
//-   include chapter3
//- .chapter(data-title='Sending appointment reminders')
//-   include chapter4
