/node_modules
/public/hot
/public/css
/public/js
/public/
/public/mix-manifest.json
/storage/*.key
/vendor
.env
.env.dusk.local
.phpunit.result.cache
.php_cs.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.phpcs.cache
.DS_Store
