APP_ENV=local
APP_DEBUG=true
APP_KEY=SomeKeyHere

DB_HOST=
DB_DATABASE=
DB_USERNAME=
DB_PASSWORD=
DB_CONNECTION=

CACHE_DRIVER=file
SESSION_DRIVER=file
QUEUE_DRIVER=sync

MAIL_DRIVER=smtp
MAIL_HOST=mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null

TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_SENDING_NUMBER=