APP_ENV=local
APP_DEBUG=true
APP_KEY=SomeKeyHere

DB_DATABASE=appointments
DB_USERNAME=your_db_username
DB_PASSWORD=your_db_password

TWILIO_ACCOUNT_SID=your_account_sid
TWILIO_AUTH_TOKEN=your_token
TWILIO_NUMBER=your_twilio_number
